@font-face {
    font-family: 'Optimus';
    src: url("../fonts/OptimusPrinceps.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Steelfish';
    src: url("../fonts/steelfish-rg.ttf");
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: Steelfish
}

/* header/nav/hero style start */

header {
    background-image: url(../images/forest-background.jfif);
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 80px;
    padding-left: 80px;
    color: white;
    font-weight: lighter;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-right: 80px;
}

header nav ul li a {
    text-decoration: underline;
    padding: 20px;
    font-size: 45px;
    color: white;
}

header nav ul li a:hover {
    background: white;
    color: darkgreen;
    border-radius: 15px;
  }

.hero {
    background-image: url(../images/forest-background.jfif);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    opacity: 80%; 
    
}

.hero h2 {
    font-size: 55px;
    color: white;
    margin-left: 1300px;
    padding-top: 150px;
}

/* header/nav/hero style end */

.info-container {
    display: flex;
    align-items: flex-start;
    margin-left: 400px;

}

.info-container h2 {
    font-size: 80px;
    border-right: 6px solid black;
    height: 300px;
    width: 10%;
    text-align: center;
    padding-right: 20px;
    margin-top: 10px;
}

.info-container p {
    font-size: 30px;
    width: 60%;
    padding-left: 80px;
    padding-top: 20px;
}

.main-work {
    display: flex;
}

.main-work img {
    height: 400px;
    width: 400px;
}