@font-face {
    font-family: 'Optimus';
    src: url("../fonts/OptimusPrinceps.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Steelfish';
    src: url("../fonts/steelfish-rg.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face { 
    font-family: 'Banner';
    src : url(../fonts/yorkwhiteletter.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
    font-family: Steelfish
}

/* header/nav/hero style start */

header {
    background-image: url(../images/forest-background.jfif);
    background-position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 80px;
    padding-left: 80px;
    color: white;
    font-weight: lighter;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-right: 80px;
}

header nav ul li a {
    text-decoration: underline;
    padding: 20px;
    font-size: 45px;
    color: white;
}

header nav ul li a:hover {
    background: white;
    color: darkgreen;
    border-radius: 15px;
  }

.hero {
    background-image: url(../images/forest-background.jfif);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    opacity: 80%; 
    
}

.hero h2 {
    font-size: 55px;
    color: white;
    margin-left: 1300px;
    padding-top: 150px;
}

/* header/nav/hero style end */

.info-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;

}

.info-container h2 {
    font-size: 80px;
    border-right: 6px solid black;
    height: 225px;
    width: 10%;
    text-align: center;
   
    margin-top: 10px;
    margin-left: 200px;
    
    border-radius: 20px;
    
}

.info-container p {
    font-size: 30px;
    width: 50%;
    margin-left: 240px;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

/* end of info container */
section {
    display: flex;
}
aside {
    width: 22%;
    font-size: 60px;
    height: 1050px;
    
}

aside h2 {
    width: 45.5%;
    border-right: 6px solid black;
    text-align: center;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 200px;
    height: 1050px;
    border-radius: 20px;
    
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 78%;
}

.main-project {
    position: relative;
    height: 450px;
    width: 900px;
}

.main-project img {
    height: 450px;
    width: 900px;
    border: 4px solid black;
    opacity: 70%;
}

.main-project img:hover {
    opacity: 1;
}

.project-text {
    position: absolute;
    background-color: white;
    color: darkgreen;
    bottom: 2%;
    left: 1%;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

.project-text h3 {
    font-size: 30px;
}

.project-text h4 {
    font-size: 20px;
}

.small-projects {
    position: relative;
    height: 300px;
    width: 600px;
    margin: 10px;
}

.small-projects img {
    height: 300px;
    width: 600px;
    border: 4px solid black;
    opacity: 70%;
}

.small-projects img:hover {
    opacity: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer h2 {
    padding-left: 220px;
    font-size: 40px;
    border-right: 6px solid black;
    padding-right: 40px;
    border-radius: 20px;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right: 175px;
}

footer ul li a {
    text-decoration: underline;
    padding: 0 125px 0 125px;
    font-size: 30px;
}

footer ul li a:hover {
    background: white;
    border-radius: 20px;
    color: green;

}